<div class="row">
    <div class="col-md-4">
        <mat-card class="card-form">
            <app-form-notificacion (enviarNoti)=" enviarNoti($event) " [cargando]=" cargandoEnvio "></app-form-notificacion>
        </mat-card>
    </div>

    <div class="col-md-8">
        <div *ngIf=" notificaciones?.length == 0; else lista " >
            <div class="cont-no-hay-notis">
                <img src="assets/imgs/vacio.png" width="100px" alt="No tiene notificaciones" > 
                <p>No hay notificaciones</p>
            </div>
        </div>
        
        <ng-template #lista>
            <app-lista-notificaciones   
            [notificaciones]=" notificaciones "
            (reenviarNoti)=" reenviarNoti($event) " 
            (borrarNoti)=" borrarNoti($event) "></app-lista-notificaciones>
        </ng-template>
    </div>
</div>