.titulo-form-noti {
    margin-bottom: 20px;
}

.boton-enviar {
    padding-top: 10px;
    text-align: center;
}

.rojo {
    color: red;
}

.form-bloque mat-form-field {
    display: block;
}

.bloque {
    display: block;
}

.btn-enviar {
    margin-top: 30px;
    width: 100%;
    padding: 2px;
    font-size: 17px;
}