
<h3 class="titulo-form-noti">Notificación</h3>

<form (ngSubmit)=" enviar() ">

  <div class="form-group">
    <label for="titulo"> Titulo </label>
    <input [(ngModel)]="notificacion.titulo" name="titulo" id="titulo" class="form-control" type="text" placeholder="Titulo" required>
  </div>

  <div class="form-group">
    <label for="descripcion"> Descripción</label>
    <textarea [(ngModel)]="notificacion.descripcion" name="descripcion" class="form-control" rows="3" id="descripcion" required></textarea>
  </div>

  <div class="form-group">
    <label for="tipo"> Tipo </label>
    <select [(ngModel)]="notificacion.tipo" name="tipo" id="tipo" class="form-control">
      <option value="1"> Noticia </option>
      <option value="2"> Advertencia </option>
      <option value="3"> Peligro </option>
    </select>
  </div>

  <div class="form-group">
    <label for="para"> Enviar a </label>
    <select [(ngModel)]="para" name="para" id="para" class="form-control">
      <option value="PROFESORES">Profesores</option>
      <option value="ESTUDIANTES">Estudiantes</option>
      <option value="DIRECTIVOS">Directivos</option>
    </select>
  </div>

  <div class="boton-enviar">
    <button type="submit" class="btn btn-primary"> Enviar </button>
  </div>

</form>
