<h4 class="titulo-form-noti">
    Notificación</h4>

<form [formGroup]="form" class="form-bloque animated fadeIn fast">

    <div formGroupName="notificacion">

        <mat-form-field>
            <input matInput type="text" placeholder="Titulo" formControlName="titulo" maxlength="50">

            <mat-error *ngIf=" form.controls['notificacion'].controls['titulo'].touched && form.controls['notificacion'].controls['titulo'].invalid ">
                Escriba un titulo
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Descripcion" rows="4" formControlName="descripcion"></textarea>

            <mat-error *ngIf=" form.controls['notificacion'].controls['descripcion'].touched && form.controls['notificacion'].controls['descripcion'].invalid ">
                Escriba una descripción
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Tipo" formControlName="tipo">
                <mat-option value="1"> Mensaje </mat-option>
                <mat-option value="2"> Advertencia </mat-option>
                <mat-option value="3"> Peligro </mat-option>
            </mat-select>

            <mat-error *ngIf=" form.controls['notificacion'].controls['tipo'].touched && form.controls['notificacion'].controls['tipo'].invalid ">
                Seleccione el tipo de notificación
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Destinatarios" formControlName="destinatario">
                <mat-option value="ESTUDIANTE"> Estudiantes </mat-option>
                <mat-option value="PROFESOR"> Profesores </mat-option>
                <mat-option value="FUNCIONARIO"> Funcionarios </mat-option>
            </mat-select>

            <mat-error *ngIf=" form.controls['notificacion'].controls['destinatario'].touched && form.controls['notificacion'].controls['destinatario'].invalid ">
                Elija los destinatarios
            </mat-error>
        </mat-form-field>


        <div *ngIf="!cargando; else progreso">
            <button [disabled]="form.invalid" (click)="enviar()" class="btn-enviar animated fadeIn fast" mat-button mat-raised-button color="primary"> Enviar </button>
        </div>

        <ng-template #progreso>
            <div class="cont-cargando">
                <mat-spinner class="cargando animated fadeIn fast" strokeWidth="5" diameter="40" mode="indeterminate"></mat-spinner>
            </div>
        </ng-template>



    </div>

</form>